@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

:root {
  --background-color-yellow: #FFE17F;
  --background-color-white: #FFFFFF;
  --background-color-lightgray: #EBEBEB;
  --background-color-darkgray: #444444;
  --background-color-matte: #F0F0F0;
}

body {
  font-family: rubik, sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--background-color-white);
  color: black;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  width: 1160px;
  background-color: var(--background-color-yellow);
  margin: 0 auto;
}

.device-logo {
  display: block;
  margin-left: 60px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.main-container {
  flex-grow: 1;
}

.page-header a {
  color: black;
}

.main-index a {
  color: black;
}

.navigation {
  display: flex;
  width: 1160px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  list-style-type: none;
  justify-content: space-between;
}

.appointment-form-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000000;
  border-radius: 50px 50px 50px 50px;
}

.appointment-form-search {
  display: block;
  background-image: url("../images/icons/vector-search.svg");
  background-repeat: no-repeat;
  width: 16px;
  min-height: 16px;
  padding: 12px 16px 12px 16px;
  background-position: center;
}

input[type=text] {
  font-size: 16px;
  line-height: 20px;
  width: 309px;
  height: 40px;
  border: none;
  background-color: var(--background-color-yellow);
}

.button-search {
  display: flex;
  width: 48px;
  padding: 10px 56px 10px 56px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border-left: 2px solid #000000;
}

.navigation-login {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
}

.navigation-login-item {
  display: flex;
  flex-wrap: wrap;
}

.button-login {
  display: block;
  background-image: url("../images/icons/vector-bust.svg");
  background-repeat: no-repeat;
  width: 13px;
  min-height: 30px;
  padding: 9px 13px 9px 0;
  background-position: center;
}

.button-login-field {
  display: block;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  min-height: 30px;
}

.navigation-item-logoff {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  opacity: 0.3;
}

.navigation-purchase {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
}

.navigation-purchase-item {
  display: flex;
  flex-wrap: wrap;
}

.button-compare {
  display: block;
  background-image: url("../images/icons/vector-comparison.svg");
  background-repeat: no-repeat;
  width: 10px;
  min-height: 12px;
  padding: 9px 12px 9px 0;
  background-position: center;
}

.button-compare-field {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}

.button-basket {
  display: block;
  background-image: url("../images/icons/vector-trashbasket.svg");
  background-repeat: no-repeat;
  width: 16px;
  min-height: 14px;
  padding: 6px 12px 10px 0;
  background-position: center;
}

.button-basket-field {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}

.navigation-2 {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  justify-content: space-between;
}

.navigation-list-2 {
  display: flex;
  flex-wrap: wrap;
  width: 293px;
  margin-left: 60px;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-content: center;
}

.navigation-catalog-title {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 7px 15px 0;
}

.button-catalog-types {
  width: 50px;
  height: 50px;
}

.navigation-opportunities {
  display: flex;
  flex-wrap: wrap;
  max-width: 472px;
  margin-right: 60px;
  padding: 0;
}

.delivery-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 47px;
  max-width: 125px;
}

.warranty-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 51px;
  max-width: 121px;
}

.contacts-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
  max-width: 128px;
}

.promo-slider {
  width: 1160px;
  margin: 0 auto;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.slider-pagination-item {
  display: flex;
  flex-wrap: wrap;
}

.slider-pagination-button {
  order: 1;
}

.drone-01 {
  margin: 0;
}

.discription-conteiner {
  width: 560px;
  margin-left: 40px;
}

.slider-pagination-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.item-description {
  font-size: 18px;
  Line-height: 30px;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-container {
  display: flex;
  width: 220px;
  min-height: 40px;
}

.item-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.slider-pagination-button-current {
  margin-right: 64px;
}

.slider-pagination-button-second {
  margin-right: 32px;
}

.main-characteristics {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.characteristics-conteiner {
  display: flex;
  flex-direction: column-reverse;
}

.first {
  margin-right: 20px;
}

.third {
  margin-left: 20px;
}

dt.main-characteristics-item {
  font-size: 16px;
  line-height: 30px;
  margin-top: 12px;
}

dd.amount {
  font-size: 36px;
  Line-height: 30px;
  margin: 0;
}

dd.material-type {
  font-size: 36px;
  Line-height: 30px;
  margin: 0;
}

.gallery-products {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  list-style-type: none;
}

.products-list-item {
  width: 160px;
}

.vurtual-reality-link {
  display: block;
  background-image: url("../images/product-types/virtual-reality-glasses.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;

}

.selfies-monopods-link {
  display: block;
  background-image: url("../images/product-types/selfies-monopods.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: bottom;
  height: 160px;
}

.action-cameras-link {
  display: block;
  background-image: url("../images/product-types/action-cameras.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.fitness-bracelet-link {
  display: block;
  background-image: url("../images/product-types/fitness-bracelets.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.smart-watches-link {
  display: block;
  background-image: url("../images/product-types/smart-watсhes.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.drones-link {
  display: block;
  background-image: url("../images/product-types/drones.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

p.products-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.buyers-information {
  background-color: var(--background-color-matte);
  margin-bottom: 70px;
}

.buyers-information-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  min-height: 319px;
}

.button-container {
  width: 287px;
  max-height: 319px;
  margin: 0;
}

.buyers-information-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 116px;
}

.buyers-information-pagination-item {
  display: flex;
  justify-content: space-between;
}

.buyers-information-title-container {
  width: 448px;
  min-height: 174px;
  margin: 0;
  padding: 0;
}
.buyers-information-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 280px;
  max-height: 40px;
  padding: 9px 120px 11px 0;
}

.button-delivery-current {
  margin-bottom: 35px;
  color: var(--background-color-yellow);
  background-color: black;
}

.button-warranty {
  margin-bottom: 35px;
}

.buyers-information-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.description {
  text-align: left;
}

.buyers-information-delivery {
  background-image: url("../images/delivery_warranty_credit/delivery-man.svg");
  background-repeat: no-repeat;
  width: 136px;
  min-height: 164px;
  margin-right: 63px;
  margin-left: 110px;
  background-position: top;
}

.buyers-information-warranty {
  background-image: url("../images/delivery_warranty_credit/warranty-tools.svg");
  background-repeat: no-repeat;
  width: 171px;
  margin-right: 63px;
  background-position: center;
}

.buyers-information-credit {
  background-image: url("../images/delivery_warranty_credit/credit-man.svg");
  background-repeat: no-repeat;
  width: 156px;
  margin-right: 63px;
  background-position: 100%;
}

.about-delivery {
  background-color: var(--background-color-matte);
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.delivery-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.truck {
  background-image: url("../images/icons/delivery-car.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  width: 125px;
  min-height: 100px;
  background-position: center;
}

.product-under-the-order {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 910px;
  margin-top: 40px;
}

.delivery-form-link {
  display: block;
  background-image: url("../images/icons/delivery-information.svg");
  background-repeat: no-repeat;
  min-width: 125px;
  min-height: 100px;
  background-position: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
  margin: 0;
  padding: 0;
}

.about-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 48px;
  margin-top: 47px;
}

.motivation-phrase {
  margin-bottom: 30px;
}

.delivery-phrase {
  margin-bottom: 30px;
}

.delivery-company-list {
  display: block;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 36px;
}

.delivery-company-item {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.item-1 {
  margin-bottom: 19px;
}

.item-2 {
  margin-bottom: 19px;
}

a.more-information {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 62px;
  padding: 10px 20px 10px 20px;
}

.contacts {
  width: 532px;
  text-align: left;
}

.contacts-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.contacts-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-phrase {
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.contacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.text-us {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

.newsletter {
  background-color: var(--background-color-matte);
}

.newsletter-conteiner {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 355px;
  margin-right: 250px;
  margin-top: 64px;
  margin-bottom: 144px;
}

.newsletter-description {
  width: 553px;
  text-align: left;
  margin-top: 74px;
  margin-bottom: 0;
}

.subscription-form {
  display: flex;
  max-height: 57px;
  margin-bottom: 56px;
}

input[type=email] {
  font-family: Rubik;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  width: 557px;
  height: 55px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: var(--background-color-matte);
  padding-left: 16px;
}

.newsletter-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 18px 39px 18px 39px;
  border: 3px solid #C4C4C4;
  margin-left: -5px;
}

.free-container {
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  max-height: 30px;
  padding-top: 15px;
}

.check-mark-container {
  background-image: url("../images/icons/check-mark.svg");
  width: 14px;
  min-height: 14px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;

}

.simple-description {
  display: block;
  margin: 0;
}

.page-footer {
  background-color: var(--background-color-darkgray);
  margin: 0;
  padding: 0;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.device-logo-footer {
  margin: 0;
  margin-top: 62px;
  margin-bottom: 36px;
  padding: 0;
}

.footer-section-container {
  display: flex;
  flex-wrap: wrap;
}

.contacts-address-text-footer {
  color: white;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-address {
  width: 240px;
  margin-right: 124px;
}

.footer-social {
  width: 444px;
}

.footer-delivery-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-warranty-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 62px;
}

.footer-navigation-item {
  padding: 0;
  margin: 0;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 61px;
}

.socials li {
  display: flex;
}

.footer-phone {
  width: 175px;
  margin-left: auto;
}

.page-footer a {
  color: white;
}

.button-telegram {
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.button-youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.button-twitter {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.footer-contacts-address {
  margin-bottom: 63px;

}

.htmlacademy-logo {
  text-align: right;
}

a.product-card-link {
  text-decoration: none;
  color: black;
}

.main-inner-container {
  margin: 0 auto;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-color: var(--background-color-white);
  padding: 0;
}

.inner-header-title-lvl2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 35px 0 16px 60px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 36px;
}

.breadcrumbs-link {
  text-decoration: none;
}

.catalog-products-container {
  background-color: var(--background-color-matte);
}

.catalog-products {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-container {
  margin-left: 60px;
}

.catalog-filter {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.catalog-filter-form {
  width: 220px;
  margin-right: 40px;
}

.catalog-filter-title {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.button-show-more {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
  margin-top: 45px;
  width: 210px;
  min-height: 20px;
}

.catalor-right-column {
  background-color: var(--background-color-white);
  width: 840px;
}

.sorting-container {
  background-color: var(--background-color-matte);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.select-control {
  display: block;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-height: 30px;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  min-height: 30px;
  margin-right: 40px;
}

.button-up {
  display: block;
  background-image: url("../images/icons/sort-up.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 11px;
  min-height: 10px;
  padding: 10px 9px 10px 9px;
  background-position: center;
}

.button-down {
  display: block;
  background-image: url("../images/icons/sort-down.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 11px;
  min-height: 10px;
  padding: 10px 9px 10px 9px;
  background-position: center;
}

.product-list {
  background-color: var(--background-color-white);
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 70px;
  margin-left: 40px;
}

.product-card-title {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
}

.download-more {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 44px 40px 44px 40px;
  padding: 18px 290px 18px 290px;
  border: 3px solid #E5E5E5;
  background-color: var(--background-color-white);
}

.pagination-pages-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
  justify-content: space-between;
}

.pagination-pages {
  display: flex;
  width: 760px;
  background-color: var(--background-color-lightgray);
  margin: 0 auto;
  padding: 15px 145px 15px 145px;
  list-style-type: none;
}

.pagination-back {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  margin-left: 40px;
  padding: 25px;
  border: none;
  background-color: var(--background-color-lightgray);
}

.pagination-forward {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  margin-right: 40px;
  padding: 25px;
  border: none;
  background-color: var(--background-color-lightgray);
}

.pagination-item {
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.first-pages {
  padding: 10px 16px 10px 16px;
}

.second-pages {
  padding: 10px 15px 10px 15px;
}

.third-pages {
  padding: 10px 15px 10px 15px;
}

.pagination-pages-adder {
  padding: 10px 14px 10px 14px;
}

.fifthteen-pages {
  padding: 10px 11px 10px 11px;
}
