@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

:root {
  --background-color-yellow: #FFE17F;
  --background-color-yellow-dark: #FFC700;
  --background-color-white: #FFFFFF;
  --background-color-lightgray: #EBEBEB;
  --background-color-darkgray: #444444;
  --background-color-matte: #F0F0F0;
  --background-color-black: #000000;
  --background-color-gray: #C4C4C4;
  --background-color-verylightgray: #E5E5E5;
  --background-color-purple: #AF4FFF;
  --background-color-orange: #FFCC33;
  --background-color-grayforplaceholder: #DCDCDC;
  --background-color-silver: #CCCCCC;
}

body {
  font-family: rubik, sans-serif, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--background-color-white);
  color: var(--background-color-black);
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:focus {
  outline: 2px solid var(--background-color-purple);
}

button[type=button]:focus {
  outline: 2px solid var(--background-color-purple);
}

button[type=submit]:focus {
  outline: 2px solid var(--background-color-purple);
}

input:focus {
  outline: 2px solid var(--background-color-purple);
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.header-container {
  background-color: var(--background-color-yellow);
  min-height: 186px;
  margin-top: 40px;
}

.header-container-index {
  padding-bottom: 135px;
}

.device-logo-header-container {
  position: absolute;
  top: 20px;
}

.device-logo {
  display: block;
  min-height: 36px;
  margin-bottom: 30px;
  margin-left: 60px;
}

.device-logo:hover {
  opacity: 0.6;
}

.device-logo:active {
  opacity: 0.3;
}

.device-logo:focus {
  outline: 2px solid var(--background-color-purple);
}

.main-container {
  flex-grow: 1;
}

.page-header a {
  color: var(--background-color-black);
}

.main-index a {
  color: var(--background-color-black);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  min-height: 40px;
  margin-left: 60px;
  margin-top: 45px;
  justify-content: space-between;
}

.appointment-form-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--background-color-black);
  border-radius: 50px 50px 50px 50px;
  z-index: 1;
}

.appointment-form-container:disabled {
  opacity: 0.3;
}

.appointment-form-search {
  display: block;
  background-image: url("../images/icons/vector-search.svg");
  background-repeat: no-repeat;
  width: 16px;
  min-height: 16px;
  padding: 12px 16px 12px 16px;
  background-position: center;
}

.appointment-form-search-field {
  font-size: 16px;
  line-height: 20px;
  width: 307px;
  height: 40px;
  border: none;
  background-color: var(--background-color-yellow);
  border-right: 2px solid var(--background-color-black);
}

.button-search {
  display: flex;
  width: 48px;
  padding: 10px 55px 10px 55px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 0 50px 50px 0;
}

.button-search:hover {
  background-color: var(--background-color-black);
  color: var(--background-color-white);
}

.button-search:active {
  background-color: var(--background-color-black);
  color: rgba(255, 255, 255, 0.3)
}

.navigation-login {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  margin-top: 45px;
  justify-content: space-between;
}

.navigation-login-item {
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s ease;
}

.navigation-login-item:hover {
  opacity: 0.6;
  transition: 0.5s ease;
}

.navigation-login-item:active {
  opacity: 0.3;
}

.button-login {
  display: block;
  background-image: url("../images/icons/vector-bust.svg");
  background-repeat: no-repeat;
  width: 13px;
  min-height: 30px;
  padding: 9px 13px 9px 0;
  background-position: center;
}

.button-login-field {
  display: block;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  min-height: 30px;
  border: none;
  background-color: var(--background-color-yellow);
}

.navigation-item-logoff {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  opacity: 0.3;
  transition: 0.5s ease;
}

.navigation-item-logoff:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.navigation-purchase {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  min-height: 40px;
  justify-content: space-between;
  margin: 0;
  margin-right: 60px;
  margin-top: 45px;
}

.navigation-purchase-item {
  display: flex;
  flex-wrap: wrap;
}

.navigation-purchase-item:hover {
  opacity: 0.6;
  transition: 0.5s ease;
}

.navigation-purchase-item:active {
  opacity: 0.3;
}

.button-compare {
  display: block;
  background-image: url("../images/icons/vector-comparison.svg");
  background-repeat: no-repeat;
  width: 10px;
  min-height: 12px;
  padding: 9px 12px 9px 0;
  background-position: center;
}

.button-compare-field {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  border: none;
  background-color: var(--background-color-yellow);
}

.button-basket::before {
  display: block;
  padding-top: 15px;
  content: url("../images/icons/vector-twopurchases.svg");
}

.button-basket {
  display: block;
  background-image: url("../images/icons/vector-trashbasket.svg");
  background-repeat: no-repeat;
  width: 31px;
  min-height: 14px;
  padding: 6px 12px 10px 0;
  background-position: center;
}

.button-basket-field {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  border: none;
  background-color: var(--background-color-yellow);
}

.sub-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  justify-content: space-between;
  margin-top: 30px;
}

.sub-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 293px;
  margin-left: 60px;
}

.navigation-item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-content: center;
}

.navigation-catalog-title {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 15px 15px 15px 0;
}

.button-catalog-types {
  width: 50px;
  height: 51px;
  border: none;
  background-image: url("../images/icons/catalog-button.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  opacity: 0.3;
  transition: 0.5s ease;
}

.button-catalog-types:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.navigation-opportunities {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-between;
  margin-right: 44px;
}

.delivery-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 125px;
  margin-right: 15px;
  padding: 15px 15px 15px 15px;
}

.delivery-information-link:hover {
  opacity: 0.6;
}

.delivery-information-link:active {
  opacity: 0.3;
}

.warranty-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 121px;
  margin-right: 20px;
  padding: 15px 15px 15px 15px;
}

.warranty-information-link:hover {
  opacity: 0.6;
}

.warranty-information-link:active {
  opacity: 0.3;
}

.contacts-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  margin: 0;
  max-width: 128px;
}

.contacts-information-link:hover {
  opacity: 0.6;
}

.contacts-information-link:active {
  opacity: 0.3;
}

.promo-slider {
  margin-bottom: 70px;
}

.slider {
  margin: 0;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.slider-pagination-item {
  display: flex;
  flex-wrap: wrap;
}

.slider-pagination-button {
  order: 1;
}

.drone-01,
.fitness-bracelet-02,
.selfie-stick-03 {
  margin: 0;
  margin-top: -180px;
}

.discription-container {
  width: 560px;
  margin-left: 40px;
  margin-top: -103px;
}

.container-selfie-stick {
  margin-top: -105px;
}

.container-drone::before {
  display: block;
  content: "01";
  margin-left: 300px;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--background-color-white);
}

.container-fitness-bracelet::before {
  display: block;
  content: "02";
  margin-left: 270px;
  margin-top: 5px;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--background-color-white);
}

.container-selfie-stick::before {
  display: block;
  content: "03";
  margin-left: 270px;
  margin-top: 5px;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: var(--background-color-white);
}

.slider-pagination-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.pagination-title-drone {
  margin-top: 14px;
}

.pagination-title-fitness-bracelet {
  margin-top: 10px;
}

.pagination-title-selfie-stick {
  margin-top: 11px;
}

.item-discription {
  font-size: 18px;
  Line-height: 30px;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link-container {
  display: flex;
  width: 220px;
  min-height: 40px;
  position: relative;
}

.link-container::before {
  display: block;
  position: absolute;
  top: 16px;
  content: "";
  min-width: 220px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
  transition: 0.5s ease;
}

.link-container:hover::before {
  height: 40px;
  top: 0;
  background-color: var(--background-color-yellow);
  transition: 0.5s ease;
}

.link-container:active::before {
  background-color: var(--background-color-orange);
}

.link-container:disabled {
  opacity: 0.3;
}

.item-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 37px 10px 37px;

}

.slider-pagination-button-current {
  margin-right: 64px;
}

.slider-pagination-button-second {
  margin-right: 32px;
}

.main-characteristics {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.characteristics-container {
  display: flex;
  flex-direction: column-reverse;
}

.first {
  margin-right: 20px;
}

.third {
  margin-left: 20px;
}

dt.main-characteristics-item {
  font-size: 16px;
  line-height: 30px;
  margin-top: 12px;
}

dd.amount {
  font-size: 36px;
  Line-height: 30px;
  margin: 0;
}

dd.material-type {
  font-size: 36px;
  Line-height: 30px;
  margin: 0;
}

.gallery-products {
  margin-bottom: 172px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.products-list-item {
  width: 160px;
  margin-bottom: 134px;
  position: relative;
}

.item-catalog-type {
  transition: 0.5s ease;
}

.vurtual-reality-link {
  display: block;
  background-image: url("../images/product-types/virtual-reality-glasses.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.selfies-monopods-link {
  display: block;
  background-image: url("../images/product-types/selfies-monopods.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: bottom;
  height: 160px;
}

.action-cameras-link {
  display: block;
  background-image: url("../images/product-types/action-cameras.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.fitness-bracelet-link {
  display: block;
  background-image: url("../images/product-types/fitness-bracelets.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.smart-watches-link {
  display: block;
  background-image: url("../images/product-types/smart-watсhes.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

.drones-link {
  display: block;
  background-image: url("../images/product-types/drones.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  background-position: center;
  height: 160px;
}

p.products-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  position: absolute;
  margin-top: 192px;
}

.item-catalog-type:hover {
  background-color: var(--background-color-orange);
  transition: 0.5s ease;
}

.item-catalog-type:active {
  opacity: 0.3;
}

.buyers-information {
  background-color: var(--background-color-matte);
  margin-bottom: 70px;
}

.buyers-information-container {
  display: flex;
  justify-content: space-between;
  min-height: 319px;
}

.button-container {
  width: 287px;
  max-height: 319px;
  margin: 0;
  margin-top: -40px;
  position: relative;
}

.button-container::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: var(--background-color-black);
  left: 280px;
  top: -60px
}

.buyers-information-pagination {
  display: flex;
  margin-left: 116px;
  margin-top: -25px;
}

.buyers-information-pagination-item {
  display: flex;
  justify-content: space-between;
}

.buyers-information-title-container {
  width: 448px;
  min-height: 174px;
  margin: 0;
  padding: 0;
}

.buyers-information-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 280px;
  max-height: 40px;
  padding: 9px 120px 11px 0;
  transition: 0.5s ease;
}

.buyers-information-button:hover {
  color: rgba(255, 225, 127, 0.5);
  transition: 1s ease;
}

.buyers-information-button:focus {
  color: rgba(255, 225, 127);
  transition: 1s ease;
}

.button-delivery-current {
  margin-bottom: 35px;
  color: var(--background-color-yellow);
  background-color: var(--background-color-black);
}

.button-warranty {
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  border: none;
}

.button-warranty::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
  top: 15px;
  left: -1px;
}

.button-warranty:hover::before {
  height: 38px;
  top: -1px;
  width: 281px;
  background-color: var(--background-color-black);
  color: rgba(255, 225, 127, 0.5);
  transition: 1s ease;
}

.button-warranty:focus::before {
  height: 38px;
  top: -1px;
  width: 281px;
  background-color: var(--background-color-black);
  color: rgba(255, 225, 127);
  transition: 1s ease;
}

.button-credit {
  position: relative;
  z-index: 1;
  border: none;
}

.button-credit::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
  top: 15px;
  left: -1px;
}

.button-credit:hover::before {
  height: 38px;
  top: -1px;
  width: 281px;
  background-color: var(--background-color-black);
  color: rgba(255, 225, 127, 0.5);
  transition: 1s ease;
}

.button-credit:focus::before {
  height: 38px;
  top: -1px;
  width: 281px;
  background-color: var(--background-color-black);
  color: rgba(255, 225, 127);
  transition: 1s ease;
}

.buyers-information-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.discription {
  text-align: left;
}

.buyers-information-delivery {
  background-image: url("../images/delivery_warranty_credit/delivery-man.svg");
  background-repeat: no-repeat;
  width: 136px;
  min-height: 164px;
  margin-right: 63px;
  margin-left: 110px;
  background-position: top;
}

.buyers-information-warranty {
  background-image: url("../images/delivery_warranty_credit/warranty-tools.svg");
  background-repeat: no-repeat;
  width: 171px;
  margin-right: 63px;
  background-position: center;
}

.buyers-information-credit {
  background-image: url("../images/delivery_warranty_credit/credit-man.svg");
  background-repeat: no-repeat;
  width: 156px;
  margin-right: 63px;
  background-position: 100%;
}

.about-delivery {
  background-color: var(--background-color-matte);
  margin-bottom: 70px;
}

.about-delivery-link {
  text-decoration: none;
}

.about-delivery-link:focus-visible {
  outline-offset: 2px solid var(--background-color-purple);
}

.about-delivery-link:hover .truck {
  background-color: var(--background-color-yellow-dark);
}

.about-delivery-link:hover .delivery-form-icon path {
  fill: var(--background-color-black);
  opacity: 1;
}

.about-delivery-link:active .truck {
  opacity: 0.3;
}

.about-delivery-link:active .product-under-the-order {
  opacity: 0.3;
}

.about-delivery-link:active .delivery-form-icon path {
  opacity: 0.3;
}

.about-delivery-link:active .delivery-form-icon circle {
  opacity: 0.5;
}

.delivery-list {
  display: flex;
  justify-content: space-between;
}

.truck {
  background-image: url("../images/icons/delivery-car.svg");
  background-repeat: no-repeat;
  background-color: var(--background-color-yellow);
  width: 125px;
  min-height: 100px;
  background-position: center;
}

.product-under-the-order {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 910px;
  margin-top: 40px;
}

.delivery-item-3 {
  width: 125px;
  height: 100px;
}

.delivery-form-icon {
  padding: 30px 42px 30px 42px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 520px;
  margin: 0;
  padding: 0;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: var(--background-color-black);
}

.about-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 48px;
  margin-top: 47px;
}

.motivation-phrase {
  margin-bottom: 30px;
}

.delivery-phrase {
  margin-bottom: 30px;
}

.delivery-company-list {
  display: block;
  margin-bottom: 30px;
  padding: 0;
  margin-left: 20px;
}

.delivery-company-item {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding-left: 26px;
}

.delivery-company-item::marker {
  color: var(--background-color-yellow-dark);
  font-size: 1.5em;
}

.item-1 {
  margin-bottom: 19px;
}

.item-2 {
  margin-bottom: 19px;
}

.more-information-container {
  display: flex;
  min-width: 270px;
  min-height: 40px;
  position: relative;
}

.more-information-container::before {
  display: block;
  position: absolute;
  top: 16px;
  content: "";
  min-width: 270px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
  transition: 0.5s ease;
}

.more-information-container:hover::before {
  height: 40px;
  top: 0;
  background-color: var(--background-color-yellow);
  transition: 0.5s ease;
}

.more-information-container:active::before {
  background-color: var(--background-color-orange);
}

.more-information-container:focus-visible {
  outline: 2px solid var(--background-color-purple);
}

.more-information-container:disabled {
  opacity: 0.3;
}

a.more-information {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 62px;
  padding: 10px 20px 10px 25px;
}

.contacts {
  width: 532px;
  text-align: left;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  background-color: var(--background-color-black);
}

.contacts-title {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
}

.contacts-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.contacts-phrase {
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.contacts-schedule {
  margin-bottom: 30px;
}

.text-us-container {
  display: flex;
  min-width: 250px;
  min-height: 40px;
  position: relative;
}

.text-us-container::before {
  display: block;
  position: absolute;
  top: 16px;
  content: "";
  min-width: 260px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
  transition: 0.5s ease;
}

.text-us-container:hover::before {
  height: 40px;
  top: 0;
  background-color: var(--background-color-yellow);
  transition: 0.5s ease;
}

.text-us-container:active::before {
  background-color: var(--background-color-orange);
}

.text-us-container:active {
  outline: none;
}

.text-us-container:focus {
  outline: 2px solid var(--background-color-purple);
}

.text-us-container:disabled {
  opacity: 0.3;
}

.text-us {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

.newsletter {
  background-color: var(--background-color-matte);
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsletter-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  width: 355px;
  margin-right: 250px;
  margin-top: 64px;
  margin-bottom: 144px;
}

.newsletter-discription {
  width: 553px;
  text-align: left;
  margin-top: 74px;
  margin-bottom: 0;
}

.subscription-form {
  display: flex;
  max-height: 57px;
  margin-bottom: 56px;
}

.newsletter-email-field {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  width: 557px;
  height: 55px;
  border: none;
  border-bottom: 3px solid var(--background-color-gray);
  background-color: var(--background-color-matte);
  padding-left: 16px;
}

.newsletter-button {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 18px 39px 18px 39px;
  border: 3px solid var(--background-color-gray);
  margin-left: -5px;
}

.newsletter-button:hover {
  background-color: var(--background-color-black);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: var(--background-color-white);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 18px 39px 18px 39px;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.free-container {
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  max-height: 30px;
  padding-top: 15px;
}

.check-mark-container {
  background-image: url("../images/icons/check-mark.svg");
  width: 14px;
  min-height: 14px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;

}

.simple-discription {
  display: block;
  margin: 0;
}

.page-footer {
  background-color: var(--background-color-darkgray);
  margin: 0;
  padding: 0;
}


.device-logo-footer-container {
  margin-top: 62px;
  margin-bottom: 36px;
}

.device-logo-footer {
  margin: 0;
  width: 145px;
}

.footer-section-container {
  display: flex;
  flex-wrap: wrap;
}

.contacts-address-text-footer {
  color: var(--background-color-white);
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.contacts-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-address {
  width: 240px;
  margin-right: 124px;
  position: relative;
}

.footer-address::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--background-color-yellow-dark);
}

.footer-social {
  width: 444px;
}

.footer-delivery-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-warranty-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-information-link {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-navigation-item {
  padding: 0;
  margin: 0;
}

.footer-delivery-information-link:hover {
  color: var(--background-color-yellow-dark);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.footer-delivery-information-link:active {
  opacity: 0.3;
}

.footer-warranty-information-link:hover {
  color: var(--background-color-yellow-dark);
}

.footer-warranty-information-link:active {
  opacity: 0.3;
}

.footer-contacts-information-link:hover {
  color: var(--background-color-yellow-dark);
}

.footer-contacts-information-link:active {
  opacity: 0.3;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 61px;
}

.socials li {
  display: flex;
}

.socials-item:hover {
  background-color: var(--background-color-yellow-dark);
  border-radius: 50% 50%;
}

.footer-phone {
  width: 175px;
  margin-left: auto;
}

.contacts-phone:hover {
  color: var(--background-color-yellow-dark);
}

.contacts-phone:active {
  opacity: 0.3;
}

.page-footer a {
  color: var(--background-color-white);
}

.button-telegram {
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.button-telegram:active {
  border-radius: 50% 50%;
  opacity: 0.3;
}

.button-youtube {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.button-youtube:active {
  border-radius: 50% 50%;
  opacity: 0.3;
}

.button-twitter {
  background-image: url("../images/icons/twitter.svg");
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
}

.button-twitter:active {
  border-radius: 50% 50%;
  opacity: 0.3;
}

.footer-contacts-address {
  margin-bottom: 48px;
}

.htmlacademy-logo {
  width: 115px;
  margin-left: 35px;
  padding: 15px 0 15px 15px;
}

.htmlacademy-logo:hover .htmlacademy-logo-icon path {
  fill: var(--background-color-white);
}

.htmlacademy-logo:active .htmlacademy-logo-icon path {
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: var(--background-color-white);
  border: 10px solid var(--background-color-black);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
}

.modal-delivery {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  padding: 30px 30px;
  top: 68px;
  right: 64px;
  width: 26px;
  height: 26px;
  background-color: var(--background-color-white);
  border: none;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 42px;
}

.dilvery-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 62px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0;
  margin-bottom: 62px;
}

.name {
  position: relative;
  margin-right: 40px;
}

.name::after {
  content: url("../images/icons/modal-bust.svg");
  position: absolute;
  width: 13px;
  height: 12px;
  top: 48px;
  left: 325px;
}

.mail {
  position: relative;
}

.mail::after {
  content: url("../images/icons/modal-letter.svg");
  position: absolute;
  width: 15px;
  height: 12px;
  top: 48px;
  left: 325px;
}

.field-group-other {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0;
  margin-bottom: 62px;
  margin-right: 40px;
}

.delivery-form-field-name {
  width: 360px;
}

.delivery-form-field-mail {
  width: 360px;
  position: relative;
}

.delivery-form-field-product {
  width: 540px;
}

.field {
  background-color: var(--background-color-matte);
  height: 60px;
  border: none;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--background-color-black);
  opacity: 0.3;
  padding: 0;
  padding-left: 20px;
}

.field-group-count {
  display: flex;
  flex-wrap: wrap;
}

.delivery-label-icon {
  position: relative;
  padding-right: 16px;
}

.delivery-label {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
  max-height: 20px;
}

.field-group-count {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  min-height: 94px;
  margin: 0;
  padding: 0;
}

.delivery-label {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 121px;
  bottom: -3px;
  width: 200px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background-color: var(--background-color-yellow);
  width: 26px;
  height: 26px;
  border-radius: 50% 50%;
}

.tooltip-icon {
  display: block;
  padding-left: 11px;
  padding-right: 11px;
}

.tooltip-text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--background-color-black);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--background-color-white);
  padding: 19px 17px 19px 19px;
  max-width: 164px;
  display: none;
  position: absolute;
  z-index: 2;
  left: -140px;
}

.tooltip-text:after {
  content: url("../images/icons/tooltip-arrow.svg");
  width: 14px;
  height: 6px;
  position:absolute;
  transform: rotate(180deg);
  left:0;
  right:0;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.number {
	display: inline-block;
	position: relative;
	width: 180px;
  background-color: var(--background-color-matte);
}
.number input[type="number"] {
	display: block;
	height: 60px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-style: normal;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
  border: none;
  background-color: var(--background-color-matte);
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 60px;
	padding: 0;
	display: block;
	border: none;
	font-family: Rubik, sans-serif;
  font-style: normal;
	font-size: 16px;
	font-weight: 400;
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 60px;
	padding: 0;
	display: block;
	border: none;
  font-family: Rubik, sans-serif;
  font-style: normal;
	font-size: 16px;
	font-weight: 400;
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-delivery-button {
  position: relative;
  width: 200px;
  height: 40px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.modal-delivery-button::before {
  position: absolute;
  content: "";
  min-width: 200px;
  height: 8px;
  background-color: var(--background-color-yellow);
  top: 15px;
  left: 0;
  transition: 0.5s ease;
  z-index: -1;
}

.modal-delivery-button:hover::before {
  height: 40px;
  top: 0;
  transition: 0.5s ease;
}

.modal-delivery-button:active::before {
  transition: 0.5s ease;
  background-color: var(--background-color-orange);
}

a.product-card-link {
  text-decoration: none;
  color: var(--background-color-black);
}

.header-container-catalog {
  padding-bottom: 23px;
}

.main-inner-container {
  margin: 0 auto;
}

.inner-header {
  margin-bottom: 35px;
  background-color: var(--background-color-white);
  padding: 0;
}

.inner-header-title-lvl2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 35px 0 16px 60px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 31px;
}

.breadcrumbs-item:not(:last-child):hover {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child):active {
  opacity: 0.3;
}

.breadcrumbs-link {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  position: relative;
  color: var(--background-color-black);
}

.breadcrumbs-link::before {
  display: block;
  content: url("../images/icons/catalog-vector.svg");
  position: absolute;
  left: -17px;
  bottom: 6px;
}

.breadcrumbs-item:first-child .breadcrumbs-link::before {
  content: none;
}

.catalog-products-container {
  background-color: var(--background-color-matte);
}

.catalog-products {
  display: flex;
}

.catalog-container {
  margin-left: 60px;
}

.catalog-filter {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.catalog-filter-form {
  width: 220px;
  margin-right: 40px;
}

.catalog-filter-title {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  transition: 0.5s ease;
}

.control:hover {
  opacity: 0.6;
  transition: 0.5s ease;
}

.control:active {
  opacity: 0.3;
  transition: 0.5s ease;
}

.control:disabled {
  opacity: 0.1;
  transition: 0.5s ease;
}


.control-input {
  font-size: 16px;
  line-height: 19px;
  transition: 0.5s ease;
  border-color: rgba(204, 204, 204, 1);
}

.button-show-more {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
  margin-top: 45px;
  margin-left: 20px;
  width: 210px;
  min-height: 40px;
  position: relative;
  z-index: 1;
  border: none;
}

.button-show-more::before {
  display: block;
  position: absolute;
  top: 14px;
  left: -7px;
  content: "";
  min-width: 220px;
  height: 8px;
  background-color: var(--background-color-yellow);
  z-index: -1;
}

.button-show-more:hover::before {
  height: 40px;
  top: 0;
  background-color: var(--background-color-yellow);
  transition: 0.5s ease;
}

.button-show-more:active::before {
  background-color: var(--background-color-orange);
}

.button-show-more:disabled {
  opacity: 0.3;
}

.catalor-right-column {
  background-color: var(--background-color-white);
  width: 840px;
}

.sorting-container {
  background-color: var(--background-color-matte);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.select-control {
  display: block;
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-height: 30px;
  margin-top: 20px;
  border: none;
  background-color: var(--background-color-matte);
  transition: 0.5s ease;
}

.select-control:hover {
  transition: 0.5s ease;
  opacity: 0.6;
}

.select-control:active {
  transition: 0.5s ease;
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid var(--background-color-purple);
}

.button-container-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  min-height: 30px;
  margin-right: 40px;
}

.button-up {
  display: block;
  background-image: url("../images/icons/sort-up.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 11px;
  min-height: 10px;
  padding: 10px 9px 10px 9px;
  background-position: center;
  transition: 0.5s ease;
}

.button-up:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.button-up:active {
  opacity: 1;
  transition: 0.3s ease;
}

.button-down {
  display: block;
  background-image: url("../images/icons/sort-down.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 11px;
  min-height: 10px;
  padding: 10px 9px 10px 9px;
  background-position: center;
}

.button-down:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.button-down:active {
  opacity: 1;
  transition: 0.3s ease;
}

.product-list {
  background-color: var(--background-color-white);
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 44px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-card:nth-child(n+3) {
  margin-top: 60px;
}

.product-card-link {
  max-height: 380px;
  position: relative;
}

.product-card-link:hover::after {
  content: "Подробнее";
  position: absolute;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  top: 180px;
  left: 109px;
  z-index: 2;
}

.product-card-link:hover::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: rgba(255, 225, 127, 1);
  top: 186px;
  left: 70px;
  z-index: 1;
}

.product-card-link:active::before {
  background-color: var(--background-color-orange);
  transition: 1s ease;
  opacity: 1;
}

.product-card-link-container:hover {
  opacity: 0.6;
}

.product-card-img::after {
  content: url("../images/icons/catalog-new-item.svg");
  position: absolute;
  top: 27px;
  left: 273px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.product-card-content::after {
  content: url("../images/icons/catalog-new-item.svg");
  position: absolute;
  top: -380px;
  left: 273px;
}

.product-card-title {
  font-family: rubik, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.download-more {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 60px 40px 44px 40px;
  padding: 18px 290px 18px 290px;
  border: 3px solid var(--background-color-verylightgray);
  background-color: var(--background-color-white);
  transition: 0.5s ease;
}

.download-more:hover {
  border: 3px solid var(--background-color-black);
  transition: 0.5s ease;
}

.download-more:active {
  border: 3px solid var(--background-color-black);
  transition: 0.5s ease;
  opacity: 0.3;
}

.download-more:disabled {
  border: 3px solid var(--background-color-verylightgray);
  transition: 0.5s ease;
  opacity: 0.3;
}

.pagination-pages-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
  justify-content: space-between;
}

.pagination-pages {
  display: flex;
  width: 760px;
  background-color: var(--background-color-lightgray);
  margin: 0 auto;
  padding: 15px 145px 15px 145px;
}

.pagination-back {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--background-color-black);
  margin-left: 40px;
  padding: 25px;
  border: none;
  background-color: var(--background-color-lightgray);
  transition: 0.5s ease;
}

.pagination-back:hover {
  background-color: var(--background-color-grayforplaceholder);
  transition: 0.5s ease;
}

.pagination-back:active {
  background-color: var(--background-color-grayforplaceholder);
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-forward {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--background-color-black);
  margin-right: 40px;
  padding: 25px;
  border: none;
  background-color: var(--background-color-lightgray);
  transition: 0.5s ease;
}

.pagination-forward:hover {
  background-color: var(--background-color-grayforplaceholder);
  transition: 0.5s ease;
}

.pagination-forward:active {
  background-color: var(--background-color-grayforplaceholder);
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item {
  font-size: 16px;
  line-height: 20px;
}

.pagination-item:hover {
  color: var(--background-color-black);
  transition: 0.5s ease;
}

.pagination-item:active {
  background-color: var(--background-color-grayforplaceholder);
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: var(--background-color-darkgray);
  opacity: 0.3;
  transition: 0.5s ease;
}

.pagination-link:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.pagination-current:hover {
  opacity: 0.3;
}

.pagination-link:active {
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0.3);
}

.first-pages {
  padding: 10px 16px 10px 16px;
}

.second-pages {
  padding: 10px 15px 10px 15px;
}

.third-pages {
  padding: 10px 15px 10px 15px;
}

.pagination-pages-adder {
  padding: 10px 14px 10px 14px;
  border: none;
  background-color: var(--background-color-lightgray);
  opacity: 0.3;
  transition: 0.5s ease;
}

.pagination-pages-adder:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.pagination-pages-adder:active {
  transition: 0.5s ease;
  color: rgba(0, 0, 0, 0.3);
}

.fifthteen-pages {
  padding: 10px 11px 10px 11px;
}
